#sections{
    display: flex;
    flex-direction: column;
    width: 78%;
}

#introduction-section{
    height: 650px;
    display: flex;
    flex: wrap;
    flex-direction: row;
    margin-bottom: 0.5%;
}

#introduction{
    width: 74.5%;
    margin-right: 0.5%;
    background-color: black;
    border: 2px solid #1f1f1f;
}